@model Club.ViewModels.SubmissionViewModel

@{
    ViewBag.Title = "Enviar solución";
    var problema = ViewBag.Problem as Club.ViewModels.ProblemViewModel;

    var estatusClass = Model?.Accepted == null ? "info" : (Model.Accepted.Value ? "success" : "danger");
    var estauts = Model?.Accepted == null ? "está pendiente de revisión" : (Model.Accepted.Value ? "fue aceptado" : "fue rechazado");
}


<h2>Enviar solución a @problema.Name</h2>
@if (Model != null)
{
    <div class="alert alert-@estatusClass" role="alert">
        Has intentado este problema @Model.Attempts veces y tu último intento @estauts
    </div>
}
<form method="post" enctype="multipart/form-data">
    <div asp-validation-sumnmary="ValidationSummary.ModelOnly"></div>

    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="GistUrl"></label>
            <input asp-for="GistUrl" class="form-control" />
            <span asp-validation-for="GistUrl"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label for="files">O sube un archivo</label>
            <input type="file" name="files" id="files" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Enviar" class="btn btn-success" />
    </div>
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap-rating/bootstrap-rating.min.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
}