@using System.Threading.Tasks
@using Club.ViewModels
@model Club.ViewModels.ProblemViewModel

@{
    ViewBag.Title = Model.Name;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>