@model Club.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reestablecer contraseña";
}

<h2>@ViewBag.Title</h2>
<form method="post" asp-antiforgery="true">
    <div class="form-group">
        @Html.LabelFor(i => i.Password)
        <input type="password" class="form-control" asp-for="Password" />
        <span class="text-muted" asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.PasswordConfirmation)
        <input type="password" class="form-control" asp-for="PasswordConfirmation" />
        <span class="text-muted" asp-validation-for="PasswordConfirmation"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Reestablecer"/>
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="Code" />
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
