@{
}

<div class="row">
    <div class="col-lg-1 col-lg-push-11">
        <button id='excelExport' class="btn btn-primary btn-lg">
            <i class="fa fa-file-excel-o"></i>
        </button>

    </div>
    <div class="col-lg-12">
        <div id='jqxWidget'  style="padding-top:30px;">
            <div id="jqxgrid"></div>
        </div>
    </div>
</div>

@section Styles {

    <link href="~/lib/jqwidgets/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
}

@section Scripts{

    <script type="text/javascript" src="~/lib/jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="~/lib/jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="~/lib/jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="~/lib/jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="~/lib/jqwidgets/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="~/lib/jqwidgets/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="~/lib/jqwidgets/jqwidgets/jqxgrid.selection.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxgrid.aggregates.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxgrid.columnsreorder.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxgrid.columnsresize.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxgrid.edit.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxgrid.export.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxgrid.filter.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxgrid.grouping.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxgrid.pager.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxgrid.selection.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxgrid.sort.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxgrid.storage.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxdatetimeinput.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxcalendar.js"></script>
    <script src="~/lib/jqwidgets/jqwidgets/jqxdata.export.js"></script>

    <script type="text/javascript">
        $(document)
            .ready(function () {


                $("#excelExport").click(function () {
                    $("#jqxgrid").jqxGrid('exportdata', 'xls', 'jqxGrid');
                });

                // prepare the data
                var source =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'eventName' },
                        { name: 'location' },
                        { name: 'date', type: 'date' },
                        { name: 'termName' },
                        { name: 'user' },
                        { name: 'duration' }
                    ],
                    url: "/api/events/attendance"
                };

                var dataAdapter = new $.jqx.dataAdapter(source);

                $("#jqxgrid")
                    .jqxGrid(
                        {
                            width: 900,
                            source: dataAdapter,
                            filterable: true,
                            sortable: true,
                            showfilterrow: true,
                            autoheight: true,
                            columns:
                            [
                                { text: 'Periodo', filtermode: 'excel', datafield: 'termName', width: 100 },
                                { text: 'Evento', datafield: 'eventName', width: 250 },
                                { text: 'Fecha', datafield: 'date', width: 100, filtertype: 'date', cellsformat: 'd' },
                                { text: 'Duración (horas)', datafield: 'duration', width: 200, filterable: false, cellsformat: 'd2' },
                                { text: 'Asistente', datafield: 'user', width: 250 }
                            ]
                        });

            });
    </script>
}