@using Club.ViewModels
@model Club.ViewModels.EventViewModel

@{
    ViewBag.Title = "Editar sesión";

    var term = ViewBag.Term as TermViewModel;
}

<h2>@ViewBag.Title</h2>
<form method="post" novalidate>
    <div asp-validation-sumnmary="ValidationSummary.ModelOnly"></div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="TermId"></label>
            <select asp-for="TermId" class="form-control" asp-items="@ViewBag.SelectTerms"></select>
        </div>
        <div class="form-group col-md-7">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>

        </div>
        <div class="form-group  col-md-2">
            <label asp-for="IsPrivate"></label>
            <input asp-for="IsPrivate" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="Location"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="Type"></label>
            <select asp-for="Type" class="form-control"
                    asp-items="Html.GetEnumSelectList<Club.Enums.EventType>()"></select>
        </div>
    </div>


    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description"></span>
        </div>

    </div>


    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Start"></label>
            @if (Model.Status == EventStatus.Future)
            {
                <input asp-for="Start" autocomplete="off" class="form-control" />
                <span asp-validation-for="Start"></span>
            }
            else
            {
                <p class="form-control-static">@Model.Start (el evento ha comenzado)</p>
                <input type="hidden" name="Start" value="@Model.Start" />

            }
        </div>

        <div class="form-group col-md-6">
            <label asp-for="End"></label>
            <input asp-for="End" autocomplete="off" class="form-control" />
            <span asp-validation-for="End"></span>
        </div>
    </div>
    @if (Model.HasSimilar)
    {

        <div class="form-group">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Guardar
            </button>
        </div>

    <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Sesiones similares</h4>
                    </div>
                    <div class="modal-body">
                        Esta sesión está asociada con otras sesiones, ¿deseas cambiar solo esta, esta y los siguientes o todos en la serie?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" value="all" name="editopt" class="btn btn-default">Todos</button>
                        <button type="submit" value="thisAndNext" name="editopt" class="btn btn-default">Este y los siguientes</button>
                        <button type="submit" value="justThis" name="editopt" class="btn btn-primary">Solo este</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <button type="submit" value="justThis" name="editopt" class="btn btn-primary">Guardar</button>
        </div>
    }

</form>


@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script>

        $(function () {
            $('#Start').datetimepicker({
                locale: 'es',
                sideBySide: true,
                stepping: 15,
                useCurrent: true
            });
            $('#End').datetimepicker({
                locale: 'es',
                sideBySide: true,
                stepping: 15,
                useCurrent: false
            });
            $("#Start").on("dp.change", function (e) {
                $('#End').data("DateTimePicker").minDate(e.date);
                console.log(e.date);
            });


            $('#RepeatUntil').datetimepicker({
                locale: 'es',
                useCurrent: true
            });
        });
    </script>
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
}