<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootswatch/paper/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    @RenderSection("Styles", false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>

                    </li>
                </ul>
                <a asp-controller="home" asp-action="index" class="navbar-brand">Club</a>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-controller="account" asp-action="logout">Logout</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="account" asp-action="login">Login</a></li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid" id="main">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer></footer>

    @* Scripts *@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("Scripts", false)

</body>
</html>
