@{
    int year = (int)ViewBag.Year;
    int month = (int)ViewBag.Month;
}

        <div id="calendar" class="calendar">
        </div>


@section Scripts {
    <script src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <script src="~/lib/fullcalendar/dist/fullcalendar.js"></script>
    <script src="~/lib/fullcalendar/dist/lang/es.js"></script>

    <script>
        $(document).ready(function () {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                defaultDate: '@($"{year}-{month:D2}")',
                timezone: 'America/Mexico_City',
                events: {
                    url: '/api/calendar',
                    type: 'GET',
                    success: function (a, b, c) {
                    },
                    error: function(a, b, c) {
                    }
                },
                eventClick: function(event) {
                    if (event.url) {
                        window.open(event.url);
                        return false;
                    }
                }
            });

        });
    </script>
}
@section Styles {

    <link href="~/lib/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />

}
