@model Club.ViewModels.AnnouncementViewModel

@{
    ViewBag.Title = "Nuevo aviso";
}


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Crear aviso</h2>
        <form method="post" novalidate>
            <div asp-validation-sumnmary="ValidationSummary.ModelOnly"></div>
            <div class="row">
                <div class="form-group col-md-9">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group  col-md-3">
                    <label asp-for="IsPrivate"></label>
                    <input asp-for="IsPrivate" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="Text"></label>
                    <textarea asp-for="Text" class="form-control"></textarea>
                    <span asp-validation-for="Text"></span>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="DueDate"></label>
                    <input asp-for="DueDate" class="form-control" />
                    <span asp-validation-for="DueDate"></span>
                </div>
            </div>

                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-success" />
                </div>
</form>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(function () {
            $('#DueDate').datetimepicker({
                locale: 'es',
                stepping: 15
            });
        });
    </script>
}

@section Styles{
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
}