@model IEnumerable<Club.ViewModels.SimpleUserViewModel>

@{
}

<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Username</td>
            <td>@user.LastName</td>
            <td>@user.FirstName</td>
        </tr>
    }
</table>