@model Club.ViewModels.TermViewModel

@{

}

<div class="row">
    <div class="col-md-12">
        <h1>Periodo @Model.Name <small>@Model.Start.ToShortDateString() - @Model.End.ToShortDateString()</small></h1>
    </div>
</div>