@using System.Threading.Tasks
@using Club.ViewModels
@model Club.ViewModels.TermViewModel

@{
    ViewBag.Title = "Editar periodo";
    var editStartDate = (bool)ViewBag.CanEditStartDate;
}

<h2>@ViewBag.Title</h2>
<form method="post" novalidate>
    <div asp-validation-sumnmary="ValidationSummary.ModelOnly"></div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" aria-describedby="basic-addon-term" />
            <span asp-validation-for="Name"></span>

        </div>
    </div>
    <div class="row">

        <div class="form-group col-md-6">
            <label asp-for="Start"></label>
            @if (editStartDate)
            {
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start"></span>
            }
            else
            {
                <p class="form-control-static">@Model.Start (el periodo ha comenzado)</p>
                <input type="hidden" name="Start" value="@Model.Start" />

            }
        </div>
        <div class="form-group col-md-6">
            <label asp-for="End"></label>
            <input asp-for="End" class="form-control" />
            <span asp-validation-for="End"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-success" />
    </div>
</form>


@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script>

        $(function () {
            $('#Start').datetimepicker({
                locale: 'es',
                sideBySide: false,
                stepping: 15,
                useCurrent: true
            });


            $('#End').datetimepicker({
                locale: 'es',
                sideBySide: false,
                stepping: 15,
                useCurrent: false
            });


        });
    </script>
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
}