@model Club.ViewModels.SettingsViewModel

@{
}


<div>
    <form method="post" asp-action="ExportTermsInfo">
        <button type="submit">Descargar info</button>
    </form>
    <form method="post" asp-action="ExportUsersInfo">
        <button type="submit">Descargar usuarios</button>
    </form>
</div>
